@import "src/design/abstracts/variables";
@import "src/design/abstracts/mixins";

.lay-out {
	@include documentSpace;
	display: flex;
	flex-direction: column;
	.offer {
		margin: 0.75rem 0;
	}
}
@media #{$mobile-first} {
	.lay-out { 
		flex-direction: row;
		margin: 0 auto;
		max-width: 680px; 
		.offer {
			margin: 0 1rem;
		}
	}
}