@import "base/reset";
@import "base/typography";
@import "abstracts/variables";

.title {
	margin: 4rem 0 1.5rem 0;
	text-align: center;
	font-size: 1.875rem;
	@media #{$mobile-first} {
		margin: 4rem 0 3rem 0;
		font-size: 2.125rem; 
	}
}
.contain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media #{$mobile-first} {
		height: calc(100vh - 4rem);
		margin: 0 auto;
		max-width: 680px;
	}
}
.loading {
	margin: 0 auto;
	font-size: 1.75rem;
}
@keyframes load {
	0% { opacity: .1; }
	20% { opacity: 1; }
	100% { opacity: .1; }
}
.loading span {
	animation: load 1.4s infinite both;
	&:nth-child(2) { animation-delay: .2s; }
	&:nth-child(3) { animation-delay: .4s; }
}